@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}
/* end of poem/verse/song */

#dedication{
	margin-top: 20vh;
}

#dedication header{
	text-indent: 0;
}

/* broadsheet */
#chapter-2 blockquote{
	border: 2px solid;
	font-size: larger;
	margin: 1em auto;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
	width: 7em;
}

/* outer blockquote, kept at normal margins since it’s the entire chapter */
#chapter-11 blockquote[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

/* inner blockquote (“dispatch”), dateline */
#chapter-11 blockquote > blockquote > p:first-child{
	font-style: italic;
	text-align: right;
}

/* telegrams */
#chapter-11 li > blockquote{
	font-variant: all-small-caps;
}
